/* Stiziles */

html, body {
  background: #CCC;
  position: relative;
}


.layout {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* main */

.main {
  width: 100%;
  height: 100%;
  background: #CCC;
  color: #444;
}

.main img {
  width: 103px;
  height: 89px;
  margin-bottom: 10px;
  text-align: center;
}
.main .page{
  position: relative;
  top: 0;
}

.main .page > div > div {
  position: absolute;
  top: 0;
  width: 100%;
}
/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}



.from-right-enter {
  transition: all .2s linear;
  transform: translateX(100%);
}

.from-right-enter.from-right-enter-active {
  transform: translateX(0%);
}

.from-right-leave {
  transition: all .2s linear;
  transform: translateX(0%);
}

.from-right-leave.from-right-leave-active {
  transform: translateX(-100%);
}



.from-left-enter {
  transition: all .2s linear;
  transform: translateX(-100%);
}

.from-left-enter.from-left-enter-active {
  transform: translateX(0%);
}

.from-left-leave {
  transition: all .2s linear;
  transform: translateX(0%);
}

.from-left-leave.from-left-leave-active {
  transform: translateX(100%);
}
